<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content class="content">
        <div *ngIf="!messages.length" class="welcome-container">
            <img src="assets/logo.png" class="logo" />
            <h2>Hey there! 👋</h2>
            <p>I'm not your typical chatbot. I'm here to help you connect with the right person in your organization. <br>Sorry, though, I'm not so great with coding or shopping lists! 😅 <br>Type a message below or try one of these sample queries:<br></p>
            <ul class="sample-queries">
                <li (click)="startConversation(sampleQuery)" *ngFor="let sampleQuery of sampleQueries">
                {{ sampleQuery }}
                </li>
            </ul>
      </div>
      <div class="message-container">
        <ng-container *ngFor="let message of messages">
          <div
            class="message"
            [ngClass]="{
              'user-message': message.role === 'user',
              'assistant-message': message.role === 'assistant'
            }"
          >
            <img *ngIf="message.role === 'assistant'" src="assets/logo.png" class="assistant-logo" />
            <h4 [ngStyle]="{'white-space': 'pre-wrap'}" [innerHTML]="message.content | linkify"></h4>
          </div>
        </ng-container>
      </div>
    </mat-sidenav-content>
    <mat-toolbar class="chatbar" color="background">
            
        <form (ngSubmit)="submitMessage()" #messageForm="ngForm">
            <mat-form-field appearance="fill" class="input-form">
              <input
                autofocus
                class="text-box"
                matInput
                [(ngModel)]="userMessage"
                placeholder="Type a message..."
                name="userMessage"
                required
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="send-button"
              type="submit"
              [disabled]="isLoading"
            >
              <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
              <span *ngIf="!isLoading">Send</span>
            </button>
          </form>
         <div class="footprint">This is a demo of 'Florence' - a GPT-based search engine (using only publicly available data on GitHub).</div>

    </mat-toolbar>
  </mat-sidenav-container>
  