body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#chat-area {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

#chat-form {
  display: flex;
}

#user-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#chat-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

#chat-form .broom {
  background-color: #ccc;
  color: #333;
}

#chat-form button:hover {
  background-color: #0056b3;
}

.typing-dots span {
  display: inline;
  animation: typing-dots 2s infinite;
}

@keyframes typing-dots {
  0%,
  100% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
}

/* Dark Mode Start */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
}

[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.message {
  color: var(--text-color);
}

[data-theme="dark"] .message {
  border-color: rgba(255, 255, 255, 0.3);
}

.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-label .fa-moon {
  color: #f0c419;
}

.toggle-label .fa-sun {
  color: #f39c12;
  display: none;
}

[data-theme="dark"] .toggle-label .fa-moon {
  display: none;
}

[data-theme="dark"] .toggle-label .fa-sun {
  display: block;
}

:root {
  --container-bg-color: #f2f2f2;
  --container-text-color: #333333;
}

[data-theme="dark"] {
  --container-bg-color: #444444;
  --container-text-color: #ffffff;
}

.container {
  background-color: var(--container-bg-color);
  color: var(--container-text-color);
}

/* Dark Mode End */